link(rel='stylesheet',href='node_modules/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet',href='node_modules/toastr/build/toastr.min.css')

link(rel='stylesheet',href='css/main.css')

script(src='node_modules/jquery/dist/jquery.js')
script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
script(src='node_modules/angular/angular.js')
script(src='node_modules/angular-ui-router/release/angular-ui-router.js')
script(src='node_modules/toastr/build/toastr.min.js')

script(src='src/js/main.js')
script(src='src/js/routing.js')

//- script(src='src/js/services/X.js')

//- script(src='src/components/header/X.js')

script(src='src/components/board/board.js')
script(src='src/components/video/video.js')

script(src='src/js/third-party/font-awesome-v5.0.8.js')
